

body {
    background-color: #24273A;
    color: white;
    margin: 0;
    font-family: Rubik, sans-serif;
    animation: fadeInBackground 2s ease-in-out;
}
@keyframes fadeInBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    border-radius: 15px;
    align-items: left;
    text-align: left;
    height: 100vh;
}

.page-sliding {
    display: grid;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100vw;
    margin-top: 0px;
    border-radius: 15px;
    background:  #1E1E2F;
    background-image: url("assets/images/nixos-wallpaper.jpg");
    align-items: left;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    font-size: 80px;
    color: #5588EE;
    margin: 0;
    margin-top: 80px;
    font-family: "Doto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.video {
    width: 80vw;
    height: auto;
    margin-top: 30px;
}

.sub-heading {
    font-size: 50px;
    color: #5588EE;
    margin: 50px;
    margin-top: 50px;
    font-weight: 900;
    font-style: normal;
}

.info {
    font-size: 24px;
    color: #8EA0DC;
    margin: 50px;
    margin-top: 0px;
    width: 40vw;
    font-weight: 300;
    font-style: normal;
}


.subtitle {
    font-size: 25px;
    color: #88AAFF;
    margin-top: 10px;
}


.image-container {
    display: flex;
    width: 70vh;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bowos-desktop {
    width: 500px;
    height: auto;
}

.bowos-laptop{
    width: 600px;
    height: auto;
    margin-left: 50px;
}


.slide-image {
 position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); 
}

#firefox-icon {
    color: #ff0000; /* Change to the desired color */
}


        .typing-text {
            font-family: "Doto", sans-serif;
            margin-top: 30px;
             font-size: 80px;
    color: #5588EE;
    margin: 0;
    font-family: "Doto", sans-serif;
    font-weight: 900;
    font-style: normal; 

        }
        .typing-text::after {
            content: '|';
            animation: blink 0.7s infinite;
        }
        @keyframes blink {
            0%, 100% { opacity: 1; }
            50% { opacity: 0; }
        }
        @keyframes typing {
            from { width: 0; }
            to { width: 100%; }
        }
        @keyframes backspace {
            from { width: 100%; }
            to { width: 0; }
        }



